.publish-info-wrap{
    display: -webkit-box;
	-webkit-box-orient:vertical;
}
.photo{
    height:6.8rem;
    margin: 0 auto;
    width: 96%;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center
}
.photo-btn .icon-camera{
    font-size: 2.5rem;
    color: #666666;
}
.input-colum-wrap{
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-bottom: 0.5rem;
    display: -webkit-box;
	-webkit-box-orient:vertical;
}
.input-colum{
    padding: 0.3rem 0;
    margin: 0 auto;
    height: auto;
    width: 96%;
    display: -webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-align: center; 
    color: #333333;
    border-bottom: solid 1px #f2f2f2;
}
.input-label{
    width: 3.5rem;
    height: 2rem;
    word-spacing: 0.6rem;
    line-height: 2rem;
    white-space: nowrap;
    font-size:0.9rem;
    color: #666666;
    border-right: 1px #cccccc solid;
}
.mt-col{
    margin-top: 0.5rem;
}
.input-field{
    padding-left: 0.3rem;
    -webkit-box-flex:2;
    color: #666666;
    font-size:0.9rem;
}
.input-field textarea,.input-field input{
    width: 96%;
    border: none;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.9rem;
}

.input-field textarea{
    padding: 3px 15px;
    height: 3.3rem;
    line-height: 1rem;
    font-size: 0.8rem;
}
.description .input-label{
    height: 3.5rem;
    line-height: 1.1rem;
    font-size: 0.9rem;
}
.publish-confirm{
    width: 100%;
    height: 3rem;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    background:#ff0000;
    position: fixed;
    bottom: 0px;
    left:0px;
}
#confirm_publish{
    padding: 0.3rem 1rem;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    height: auto;
    background: #ff6610;
    color: #ffffff;
    border-radius: 0.3rem;
    cursor: pointer;
}
#confirm_publish:hover{
    background: #ff3310;
}
.mui-input-group{
    background: #f2f2f2
}
.mui-switch-na{
    margin-left:15px;
}
.mui-switch-na.mui-switch:before{
    content: '求借'
}
.mui-switch-na.mui-active:before{
    content: '借出'
}
.locaation-selected{
margin-left: 15px;}