<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/group.css" />
        <script src="../script/lib/zepto.js"></script>
        <script src="../script/service/common.js"></script>
        <script src="../script/service/list.js"></script>

    </head>
    <body>
        <header class="group-wrap">
            <ul class="group-item" id="group">
                <li class="cur-selected"><span>动态</span></li>
                <li><span>小组</span></li>
                <li><span>广场</span></li>
            </ul>
        </header>
       <div class="info-wrap">
       	 <div class="info-list">
            <ul>
                <li>
                    <div class="publisher">
	                    <span class="user-img"><img src="../image/publish/a1.jpg"></span>
	                    <span class="user-nickname">寂寞的孤独</span>
	                    <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">看完最新的一集了，更得好慢啊，而且，每集的内容越来越少，真不负责任，都急死了，有没有和我感觉一样的，冒个泡聊聊...</p>
                    <ul class="operate-wrap">
                        <li><i class="icon-group"></i>妖精的尾巴</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-comments"></i>32</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
	                    <span class="user-img"><img src="../image/publish/a2.jpg"></span>
	                    <span class="user-nickname">梧桐下的承诺</span>
	                    <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">路遥啊，路遥，在你的笔下，总有那么多有趣的故事，求快出新作</p>
                    <ul class="operate-wrap">
                        <li><i class="icon-group"></i>平凡的世界</li>
                        <li><i class="icon-heart"></i>7</li>
                        <li><i class="icon-comments"></i>22</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
	                    <span class="user-img"><img src="../image/publish/a3.jpg"></span>
	                    <span class="user-nickname">戴面具的猫</span>
	                    <span class="sexy boy"></span>
                    </div>
                    <p class="publish-item-title">闲置的球拍，有需要的拿去用哦</p>
                    <ul class="operate-wrap">
                        <li><i class="icon-group"></i>巴萨球迷</li>
                        <li><i class="icon-heart"></i>9</li>
                        <li><i class="icon-comments"></i>42</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
	                    <span class="user-img"><img src="../image/publish/a4.jpg"></span>
	                    <span class="user-nickname">薛定谔的她</span>
	                    <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">春上春树最新的作品，刚看完，有喜欢作者的朋友的可以拿去看看</p>
                    <ul class="operate-wrap">
                        <li><i class="icon-group"></i>妖精的尾巴</li>
                        <li><i class="icon-heart"></i>15</li>
                        <li><i class="icon-comments"></i>32</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
	                    <span class="user-img"><img src="../image/publish/a5.jpg"></span>
	                    <span class="user-nickname">假装在思考</span>
	                    <span class="sexy boy"></span>
                    </div>
                    <p class="publish-item-title">闲置的球拍，有需要的拿去用哦</p>

                    <ul class="operate-wrap">
                        <li><i class="icon-group"></i>羽毛球爱好者</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-comments"></i>212</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
	                    <span class="user-img"><img src="../image/publish/a3.jpg"></span>
	                    <span class="user-nickname">戴面具的猫</span>
	                    <span class="sexy boy"></span>
                    </div>
                    <p class="publish-item-title">春上春树最新的作品，刚看完，有喜欢作者的朋友的可以拿去看看</p>
                    <ul class="operate-wrap">
                        <li><i class="icon-group"></i>桂花园运动群</li>
                        <li><i class="icon-heart"></i>25</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                    </ul>
                </li>
            </ul>
       </div>
    </body>
</html>