<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
        <script src="../script/lib/zepto.min.js"></script>
        <script src="../script/service/common.js"></script>
        <script src="../script/service/index.js"></script>
        <script type="text/javascript">
            $(function(){
                //alert($("#hello-zepto").text());
            });
        </script>
    </head>
    <body>
        <!--主体内容的包裹-->
        <div class="content-wrap">
            <!--通知/广播-->
            <div class="notice-wrap">
                <div class="notice">
                    <i class="icon icon-volume-down"></i>
                    <span>借东西可以让小童给你担保啦！</span>
                </div>
            </div>
            <div class="cotegory-wrap" id="category">
                <div class="category c-first">
                    <div onClick="window.jsHandler.changeViewPager()" class="category-item">
                        <div class="ci-hyk"></div>
                        <p>会员卡证</p>
                    </div>
                    <div class="category-item">  
                        <div class="ci-ydjs"></div>
                        <p>运动健身</p>
                    </div>
                    <div class="category-item">  
                        <div class="ci-sjsm"></div>
                        <p>手机数码</p>
                    </div>
                    <div class="category-item">  
                        <div class="ci-jjbh"></div>
                        <p>家居百货</p>
                    </div>
                </div>
                <div class="category">
                    <div class="category-item">  
                        <div class="ci-sjyd"></div>
                        <p>书籍阅读</p>
                    </div>
                    <div class="category-item">
                        <div class="ci-clcx"></div>
                        <p>车辆出行</p>
                    </div>
                    <div class="category-item">  
                        <div class="ci-wjgj"></div>
                        <p>五金工具</p>
                    </div>
                    <div class="category-item">  
                        <div class="ci-syfl"></div>
                        <p>所有分类</p>
                    </div>
                </div>
            </div>

            <div class="push-wrap" id="push">
                <div class="hobby">
                    <div class="push-title">
                        <span class="pt-text">租借专题</span></span>
                    </div>
                    <ul class="hobby-item-wrap">
                        <li class="br">
                            <div class="hobby-item hi-zx"></div>
                            <div class="hobby-item-text">装修</div>
                        </li>
                        <li class="br">
                            <div class="hobby-item hi-bj"></div>
                            <div class="hobby-item-text">搬家</div>
                        </li>
                        <li class="br">
                            <div class="hobby-item hi-yd"></div>
                            <div class="hobby-item-text">运动</div>
                        </li>
                        <li>
                            <div class="hobby-item hi-xx"></div>
                            <div class="hobby-item-text">阅读学习</div>
                        </li>
                    </ul>
                    <ul class="hobby-item-wrap">
                        <li class="br bb">
                            <div class="hobby-item hi-lx"></div>
                            <div class="hobby-item-text">旅游出行</div>
                        </li>
                        <li class="br bb">
                            <div class="hobby-item hi-xf"></div>
                            <div class="hobby-item-text">VIP消费</div>
                        </li>
                        <li class="br bb">
                            <div class="hobby-item hi-xq"></div>
                            <div class="hobby-item-text">兴趣</div>
                        </li>
                        <li class="bb">
                            <div class="hobby-item hi-hd"></div>
                            <div class="hobby-item-text">活动交友</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>