<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/list.css" />
        <script src="../script/lib/zepto.min.js"></script>
        <script src="../script/service/common.js"></script>

    </head>
    <body>
        <header class="options">
            <ul>
                <!--区域选择-->
                <li>全合肥<i class="icon-chevron-down"></i></li>
                <!--分类/专题选择-->
                <li>分类/专题<i class="icon-chevron-down"></i></li>
                <!--是否有押金选择-->
                <li>无押金<i class="icon-chevron-down"></i></li>
                <!--信息类型（出租，借出，求租）-->
                <li>出租<i class="icon-chevron-down"></i></li>
            </ul>
        </header>
        <div class="pop-select">
            <div class="select-item" id="area_sel">
                <ul class="select-item-left">
                    <li>蜀山区</li>
                    <li class="cur-selceted">庐阳区</li>
                    <li>高新区</li>
                    <li>瑶海区</li>
                    <li>新站区</li>
                    <li>滨湖区</li>
                    <li>经开区</li>
                </ul>
                <ul class="select-item-right">
                    <li>全区</li>
                    <li>笔架山</li>
                    <li>大铺头</li>
                </ul>
            </div>
        </div>
        <div class="info-list">
            <ul>
                <li>
                    <div></div>
                    <p class="publish-item-title">闲置的球拍，有需要的拿去用哦</p>
                    <div class="img-view"></div>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
                <li>
                    <div></div>
                    <p class="publish-item-title">春上春树最新的作品，刚看完，有喜欢作者的朋友的可以拿去看看</p>
                    <div class="img-view"></div>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>