<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/list.css" />
        <script src="../script/lib/zepto.js"></script>
        <script src="../script/service/common.js"></script>
        <script src="../script/service/list.js"></script>

    </head>
    <body>
        <header class="options">
            <ul id="header_opt">
                <!--区域选择-->
                <li>全合肥<i class="icon-chevron-down"></i></li>
                <!--分类/专题选择-->
                <li>分类专题<i class="icon-chevron-down"></i></li>
                <!--是否有押金选择-->
                <li>有押金<i class="icon-chevron-down"></i></li>
                <!--信息类型（出租，借出，求租）-->
                <li>出租<i class="icon-chevron-down"></i></li>
            </ul>
        </header>
        <div class="pop-select" id="pop_select">
            <div class="select-item" id="area_sel">
                <ul class="select-item-left">
                    <li>蜀山区</li>
                    <li class="cur-selceted">庐阳区</li>
                    <li>高新区</li>
                    <li>瑶海区</li>
                    <li>新站区</li>
                    <li>滨湖区</li>
                    <li>经开区</li>
                </ul>
                <ul class="select-item-right">
                    <li>全区</li>
                    <li>笔架山</li>
                    <li>大铺头</li>
                </ul>
            </div>
        </div>
        <div class="info-list">
            <ul>
                <li>
                    <div class="publisher">
                        <span class="user-img"><img src="../image/publish/a5.jpg"></span>
                        <span class="user-nickname">假装在思考</span>
                        <span class="sexy boy"></span>
                    </div>
                    <p class="publish-item-title">闲置的球拍，有需要的拿去用哦</p>
                    <ul class="img-view">
                        <li class="img-item">
                            <img src="../image/publish/ymq1.jpg" />
                        </li>
                        
                        <li class="img-item">
                            <img src="../image/publish/ymq2.jpg" />
                        </li>
                    </ul>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
                        <span class="user-img"><img src="../image/publish/a4.jpg"></span>
                        <span class="user-nickname">薛定谔的她</span>
                        <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">春上春树最新的作品，刚看完，有喜欢作者的朋友的可以拿去看看</p>
                    <ul class="img-view">
                        <li class="img-item">
                            <img src="../image/publish/cscs1.jpg" />
                        </li>
                        <li class="img-item">
                            <img src="../image/publish/cscs2.jpg" />
                        </li>
                        <li class="img-item">
                            <img src="../image/publish/cscs3.jpg" />
                        </li>
                    </ul>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
                        <span class="user-img"><img src="../image/publish/a3.jpg"></span>
                        <span class="user-nickname">戴面具的猫</span>
                        <span class="sexy boy"></span>
                    </div>
                    <p class="publish-item-title">闲置的球拍，有需要的拿去用哦</p>
                    <ul class="img-view">
                        <li class="img-item">
                            <img src="../image/publish/ymq1.jpg" />
                        </li>
                        
                        <li class="img-item">
                            <img src="../image/publish/ymq2.jpg" />
                        </li>
                    </ul>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
                        <span class="user-img"><img src="../image/publish/a2.jpg"></span>
                        <span class="user-nickname">梧桐下的承诺</span>
                        <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">春上春树最新的作品，刚看完，有喜欢作者的朋友的可以拿去看看</p>
                    <ul class="img-view">
                        <li class="img-item">
                            <img src="../image/publish/cscs1.jpg" />
                        </li>
                        <li class="img-item">
                            <img src="../image/publish/cscs2.jpg" />
                        </li>
                        <li class="img-item">
                            <img src="../image/publish/cscs3.jpg" />
                        </li>
                    </ul>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
                        <span class="user-img"><img src="../image/publish/a1.jpg"></span>
                        <span class="user-nickname">寂寞的孤独</span>
                        <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">闲置的球拍，有需要的拿去用哦</p>
                    <ul class="img-view">
                        <li class="img-item">
                            <img src="../image/publish/ymq1.jpg" />
                        </li>
                        
                        <li class="img-item">
                            <img src="../image/publish/ymq2.jpg" />
                        </li>
                    </ul>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
                <li>
                    <div class="publisher">
                        <span class="user-img"><img src="../image/publish/a4.jpg"></span>
                        <span class="user-nickname">薛定谔的她</span>
                        <span class="sexy girl"></span>
                    </div>
                    <p class="publish-item-title">春上春树最新的作品，刚看完，有喜欢作者的朋友的可以拿去看看</p>
                    <ul class="img-view">
                        <li class="img-item">
                            <img src="../image/publish/cscs1.jpg" />
                        </li>
                        <li class="img-item">
                            <img src="../image/publish/cscs2.jpg" />
                        </li>
                        <li class="img-item">
                            <img src="../image/publish/cscs3.jpg" />
                        </li>
                    </ul>
                    <ul class="operate-wrap">
                        <li><i class="icon-map-marker"></i>蜀山区</li>
                        <li><i class="icon-heart"></i>5</li>
                        <li><i class="icon-thumbs-up"></i>12</li>
                        <li><i class="icon-time"></i>2小时前</li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>