<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/personal.css" />
        <script src="../script/lib/zepto.js"></script>
        <script src="../script/service/common.js"></script>
        <script src="../script/service/personal.js"></script>

    </head>
    <body>
    	<header class="user-header">
    		<div class="user-info-wrap">
    			<div class="user-icon">
    			<img src="../image/profile.png">
    		</div>
    		<p class="user-name">未登录</p>
    		</div>
    	</header>
    	<ul class="common-list user-account">
	    	<li>
	    		<i class="icon-credit-card"></i>
	    		<span class="coomon-list-item">信用</span>
	    		<span class="cre-start"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
	    		<span class="item-tips">如何提高信用度</span>
    		</li>
    		<li>
	    		<i class="icon-leaf"></i>
	    		<span class="coomon-list-item">积分</span>
	    		<span class="cre-start">100JB</span>
	    		<span class="item-tips">攒积分换礼品</span>
    		</li>
    	</ul>
    	<ul class="common-list">
	    	<li>
	    		<i class="icon-envelope"></i>
	    		<span class="coomon-list-item">我的消息</span>
    		</li>
    		<li>
	    		<i class="icon-file"></i>
	    		<span class="coomon-list-item">我发布的</span>
    		</li>
    		<li>
	    		<i class="icon-eye-open"></i>
	    		<span class="coomon-list-item">我关注的</span>
    		</li>
    		<li>
	    		<i class="icon-time"></i>
	    		<span class="coomon-list-item">浏览历史</span>
    		</li>
    	</ul>
    	<ul class="common-list user-social">
	    	<li>
	    		<i class="icon-group"></i>
	    		<span class="coomon-list-item">兴趣组</span>
    		</li>
    		<li>
	    		<i class="icon-comments"></i>
	    		<span class="coomon-list-item">好友</span>
    		</li>
    		<li>
	    		<i class="icon-calendar"></i>
	    		<span class="coomon-list-item">推荐活动</span>
    		</li>
    	</ul>
    </body>
</html>