<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/register.css" />
        <script src="../script/lib/zepto.js"></script>
    </head>
    <body>
        <form>
				<p class="login-tip">为了保证个人信息的准确和方便沟通，请使用手机号注册，该号码不会对其他人公开。</p>
        <div class="register-form">
            <label>+86</label>
            <input type="text" name="cellphone" placeholder="您本人的手机号码" >
        </div>
        <button class="longin-btn" onclick="alert('功能开发中'); return false">下一步</button>
        </form>
    </body>
    <script src="../script/service/common.js"></script>
</html>